<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Product Manager</title>
   <meta http-equiv="Content-Type" content="text/html; charset=windows-1254" />
<!--(Harici CSS kullanımı).css uzantılı stil şablonuyla bağlantı kurar.-->
<!--Bootstrap css dosyasını ekledi-->
   <link rel="stylesheet"href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  
  <!--<Script> ifadesi genellikle JS kodunu gömmek veya buna başvurmak için kullanılır-->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

<style>
table {
  width: 100%;
  border: 1px solid black;
  background-color: #F0F8FF;
}
th {
  background-color: #f2f2f2;
}
</style>

</head>

<body>
<div class ="container" align="center">
    <h1>ÜRÜNLER  </h1>
    <a href="/new">Yeni Bir Ürün Eklemek İçin Tıklayın </a>
    <br/><br/>
    <table  border="1" cellpadding="10">
        <thead>
            <tr>
                <th>Ürün ID</th>
                <th>İsim</th>
                <th>Marka</th>
                <th>Üretim Yeri</th>
                <th>Fiyatı</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="product : ${listProducts}">
                <td th:text="${product.id}">Product ID</td>
                <td th:text="${product.name}">Name</td>
                <td th:text="${product.brand}">Brand</td>
                <td th:text="${product.madein}">Made in</td>
                <td th:text="${product.price}">Price</td>
                <td>
                    <a th:href="@{'/edit/' + ${product.id}}">Edit</a>
                    &nbsp;&nbsp;&nbsp;
                    <a th:href="@{'/delete/' + ${product.id}}">Delete</a>
                  
                </td>
            </tr>
        </tbody>
    </table>
</div>   
</body>
</html>